@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Search Bar
7. Intro
8. Milestones
9. Presentation Video
10. Newsletter
11. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Playfair+Display:400,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 500;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #d6baa0;
	color: #FFFFFF;
}
p::selection
{

}
h1{font-size: 72px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', serif;
	font-weight: 700;
	color: #333333;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button_container
{
	display: inline-block;
}
.button
{
	width: 181px;
	height: 50px;
	background: #a8894c;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: #7c6d51;
}
.button span
{
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-weight: 400;
	color: #e8d9bc;
	line-height: 50px;
}
.button span::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 3px;
	background: #806b44;
	content: '';
}
.section_title_container
{

}
.section_subtitle
{
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #a8894c;
	line-height: 0.75;
}
.section_title
{
	margin-top: 10px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #292c33;
	z-index: 100;
}
.header_content
{
	width: 100%;
	height: 100%;
}
.logo_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 265px;
	height: 100%;
	background: #292c33;
	z-index: 1;
}
.logo
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo img{
    padding:20px;
}
.logo a
{
	display: block;
}
.logo_subtitle
{
	font-size: 11px;
	font-weight: 500;
	color: #d6baa0;
	line-height: 0.75;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.logo_title
{
	font-family: 'Montserrat', serif;
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 0.75;
	margin-top: 8px;
}
.logo_stars
{
	display: inline-block;
	margin-top: 11px;
}
.logo_stars ul li
{
	line-height: 0.75;
}
.logo_stars ul li:not(:last-child)
{
	margin-right: 4px;
}
.logo_stars ul li i
{
	font-size: 9px;
	color: #d6baa0;
}
.header_inner
{
	width: 100%;
	height: 80px;
	padding-left: 187px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}
.header.scrolled .header_inner
{
	height: 80px;
}
.main_nav
{
	height: 100%;
}
.main_nav ul
{
	height: 100%;
}
.main_nav ul li
{
	height: 100%;
	padding-left: 34px;
	padding-right: 32px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li.active,
.main_nav ul li:hover
{
	/* background: #978668; */
}
.main_nav ul li a
{
	display: inline-block;
	height: 100%;
}
.main_nav ul li a div
{
	height: 100%;
}
.main_nav ul li a div span
{
	font-size: 14px;
	font-weight: 600;
	color: #a8894c;
	white-space: nowrap;
	text-transform: uppercase;
}
.main_nav ul li a div span::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 3px;
	background: #a8894c;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li.active a div span::after,
.main_nav ul li:hover a div span::after
{
	visibility: visible;
	opacity: 1;
}
.main_nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #a8894c;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .main_nav ul li:hover>ul {
    display: inherit;
    transition: all .3s ease;
  }

  .main_nav ul ul li {
    min-width: 200px;
    display: list-item;
    position: relative;
    line-height: 50px;
  }
  .main_nav ul ul li:hover {
    background: #7c6d51;
  }
  .main_nav ul ul li a{
    color:#fff;
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 600;
  }

  .main_nav ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
  }
.header_review
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(100% + 40px);
}
.header_review a
{
	white-space: nowrap;
	line-height: 1.1;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_review a:hover
{
	color: #d6baa0;
}
.hamburger
{
	display: none;
	cursor: pointer;
	margin-top: 5px;
}
.hamburger i
{
	font-size: 18px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger i:hover
{
	color: #d6baa0;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	left: 0;
	top: -100vh;
	width: 100vw;
	height: 100vh;
	background: #0b1423;
	z-index: 99;
	-webkit-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	-moz-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	-ms-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	-o-transition: all 800ms cubic-bezier(.88,.31,.65,.91);
	transition: all 800ms cubic-bezier(.88,.31,.65,.91);
}
.menu.active
{
	top: 0;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_nav_list li
{
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.menu_nav_list li:first-child
{
	transition-delay: 400ms;
}
.menu_nav_list li:nth-child(2)
{
	transition-delay: 500ms;
}
.menu_nav_list li:nth-child(3)
{
	transition-delay: 600ms;
}
.menu_nav_list li:nth-child(4)
{
	transition-delay: 700ms;
}
.menu_nav_list li:nth-child(5)
{
	transition-delay: 800ms;
}
.menu_nav_list li:nth-child(6)
{
	transition-delay: 900ms;
}
.menu_nav_list li:nth-child(7)
{
	transition-delay: 1000ms;
}
.menu_nav_list li:nth-child(8)
{
	transition-delay: 1100ms;
}
.menu_nav_list li:nth-child(9)
{
	transition-delay: 1200ms;
}
.menu.active .menu_nav_list li
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
	opacity: 1;
}
.menu_nav_list li a
{
	position: relative;
	font-family: 'Montserrat', serif;
	font-size: 40px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.3;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu_nav_list li a::after
{
	display: block;
	position: absolute;
	top: 63%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: -15px;
	width: 0%;
	height: 3px;
	background: #FFFFFF;
	content: '';
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu_nav_list li a:hover
{
	color: #d6baa0;
}
.menu_nav_list li a:hover::after
{
	width: calc(100% + 30px);
}
.menu_review
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 15px;
}
.menu_review a
{
	white-space: nowrap;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_review a:hover
{
	color: #d6baa0;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 396px;
}
.home_content
{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 133px;
	text-align: center;
}
.home_subtitle
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 0.75;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.home_title
{
	font-family: 'Montserrat', serif;
	font-size: 48px;
	color: #FFFFFF;
	font-weight: 700;
	line-height: 0.75;
    margin-top: 17px;
    text-transform: uppercase;
}

/*********************************
6. Search Bar
*********************************/

.search_bar
{
	width: 100%;
	z-index: 2;
	background: #e8e8e8;
}
.search_bar_container
{
	width: calc(100% + 40px);
	left: -20px;
	background: #292c33;
	height: 162px;
	margin-top: -82px;
	padding-left: 50px;
	padding-right: 48px;
	padding-top: 53px;
	padding-bottom: 50px;
}
/* .search_bar_form > div:not(:last-child)
{
	padding-right: 17px;
}
.search_bar_form > div:first-child,
.search_bar_form > div:nth-child(2)
{
	width: 35.163%;
}
.search_bar_form > div:nth-child(3)
{
	width: 29.429%;
} */

.search_bar_form .search-input{
    width: 100%;
    height: 53px;
    margin-bottom: 18px;
    background: #f5f2fa;
    border: none;
    outline: none;
    padding-left: 25px;
    border-bottom: solid 3px #a8894c;
}
.search_form_select
{
	display: block;
	position: relative;
	width: 100%;
	height: 59px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #FFFFFF;
    background: #978668;
    cursor: pointer;
    padding-left: 22px;
}
.search_form_select option
{
	font-style: normal;
}
.search_bar_button
{
	width: 236px;
	height: 59px;
	cursor: pointer;
	background: transparent;
	border: solid 2px #a8894c;
	color: #a8894c;
	font-size: 16px;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search_bar_button:hover
{
	background: #d6baa0;
	color: #320d36;
}
.search_bar_container::after
{
	display: block;
	position: absolute;
	left: 53px;
	bottom: 0;
	width: calc(100% - 103px);
	height: 4px;
	background: #a8894c;
	content: '';
}

/*********************************
7. Intro
*********************************/

.intro
{
	width: 100%;
	background: #e8e8e8;
	padding-top: 98px;
	padding-bottom: 114px;
}
.intro_container
{
	height: 100%;
	padding-right: 20px;
}
.intro_container1
{
	/* height: 100%; */
	padding-right: 20px;
}
.intro_text
{
	margin-top: 27px;
}
.intro_text1
{
	/* margin-top: 27px; */
}
.intro_link
{
	margin-top: 38px;
}
.intro_link a
{
	position: relative;
	font-size: 16px;
	font-weight: 500;
	color: #978668;
}
.intro_link a::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 1px;
	background: #978668;
	content: '';
}
.intro_button
{
	margin-top: 50px;
}
.intro_image
{
	width: 100%;
}
.intro_image img
{
    max-width: 100%;
    /* margin-top: 50px; */
}

/*********************************
8. Milestones
*********************************/

.milestones
{
	width: 100%;
	padding-top: 86px;
	padding-bottom: 40px;
}
.milestones_background_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #292c33ce;
}
.milestones_title h2
{
	color: #FFFFFF;
}
.milestones_text
{
	margin-top: 40px;
}
.milestones_text p
{
	color: #FFFFFF;
}
.milestones_row
{
	margin-top: 85px;
}
.milestone_col
{
	margin-bottom: 60px;
}
.milestone
{
	width: 100%;
}
.milestone_content
{

}
.milestone_counter
{
	font-family: 'Montserrat', serif;
	font-size: 100px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 0.75;
}
.milestone_text
{
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 34px;
	line-height: 0.75;
}

/*********************************
9. Presentation Video
*********************************/

.presentation_video
{
	width: 100%;
	background: #e8e8e8;
	/* padding-top: 100px; */
}
.video_container
{
	width: 100%;
	height: 485px;
}
.video_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(19,13,38,0.46);
}
.video_play
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 112px;
	height: 112px;
	border-radius: 50%;
	border: solid 2px #d6baa0;
	background: #FFFFFF;
}
.video_play a
{
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
}
.video_play:hover a i
{
	color: #d6baa0;
}
.video_play a i
{
	font-size: 36px;
	color: #978668;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.video_text
{
	margin-top: 27px;
}
.testimonial
{
	margin-top: 40px;
}
.testimonial_stars ul li:not(:last-child)
{
	margin-right: 4px;
}
.testimonial_stars ul li i
{
	font-size: 9px;
	color: #fbd05e;
}
.testimonial_text
{
	font-size: 14px;
	font-weight: 500;
	line-height: 2;
	font-style: italic;
	color: #333333;
	margin-top: 16px;
}
.testimonial_author
{
	margin-top: 28px;
}
.testimonial_author_image
{
	width: 37px;
	height: 37px;
	overflow: hidden;
	border-radius: 50%;
}
.testimonial_author_image img
{
	max-width: 100%;
}
.testimonial_author_name
{
	margin-left: 40px;
}
.testimonial_author_name a
{
	font-size: 14px;
	font-weight: 500;
	color: #8e3f97;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.testimonial_author_name a:hover
{
	color: #d6baa0;
}
.testimonial_author_name span
{
	font-size: 14px;
	font-weight: 500;
}

/*********************************
10. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #e8e8e8;
	padding-top: 100px;
	padding-bottom: 72px;
}
.newsletter_container
{
	padding-bottom: 82px;
	border-bottom: solid 2px #e8e8e8;
}
.newsletter_content
{
	padding-right: 20px;
}
.newsletter_text
{
	margin-top: 28px;
}
.newsletter_form_container
{
	width: 100%;
	margin-top: 97px;
}
.newsletter_form
{
	display: block;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	border: solid 2px #c8c8c8;
	background: #FFFFFF;
	padding-left: 28px;
	outline: none;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 181px;
	height: 50px;
	background: #978668;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button span
{
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 50px;
}
.newsletter_button span::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 3px;
	background: #d6baa0;
	content: '';
}
.newsletter_button:hover
{
	background: #d6baa0;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7e7e7e !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7e7e7e !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7e7e7e !important;
}
.newsletter_input:-ms-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7e7e7e !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #7e7e7e !important;
}
.newsletter_border_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.newsetter_border
{
	width: 100%;
	border-bottom: solid 2px #e8e8e8;
}

/*********************************
11. Footer
*********************************/

.footer
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 56px;
}
.footer_logo_container
{

}
.footer_logo
{

}
.footer_logo a
{
	display: inline-block;
}
.footer_logo_subtitle
{
	font-size: 11px;
	font-weight: 500;
	color: #333333;
	line-height: 0.75;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.footer_logo_title
{
	font-family: 'Montserrat', serif;
	font-size: 30px;
	font-weight: 700;
	color: #333333;
	line-height: 0.75;
	margin-top: 8px;
}
.footer_logo_stars
{
	display: inline-block;
	margin-top: 11px;
}
.footer_logo_stars ul li
{
	line-height: 0.75;
}
.footer_logo_stars ul li:not(:last-child)
{
	margin-right: 4px;
}
.footer_logo_stars ul li i
{
	font-size: 9px;
	color: #333333;
}
.copyright
{
	font-size: 11px;
	font-weight: 500;
	color: #8d8d8d;
	margin-top: 11px;
}
.footer_menu ul li
{
	line-height: 0.75;
}
.footer_menu ul li:not(:last-child)
{
	margin-right: 45px;
}
.footer_menu ul li a
{
	font-size: 25px;
    font-weight: 500;
    color: #a8894c;
	white-space: nowrap;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_menu ul li a:hover
{
	color: #d6baa0;
}
.footer_menu_text
{
	margin-top: 21px;
}
.footer_contact
{
	margin-top: -5px;
}
.footer_contact_content ul li
{
	font-size: 14px;
	font-weight: 500;
	color: #8d8d8d;
}
.footer_contact_content ul li span
{
	color: #333333;
	margin-left: 2px;
}
.footer_contact_content ul li:not(:last-child)
{
	margin-bottom: 14px;
}

#map {
    width: 100%;
    height: 500px;
}

.blank-space{
    height: 50px;
}
.details-box{
    line-height:25px;
    background-color:#f3f1ed;
    padding:20px;
    /* border-radius:10px; */
    color:#000;
    padding-bottom: 0px;
}

/* .btn-header{
    background-color: #292c33;
}

.btn-header:hover{
    background-color: #978668;
} */
.table td, .table th{
    border-top: none;
    padding-top: 0px;
}

#st-2 .st-btn[data-network='facebook']{
    background-color: #a8894c;
}
#st-2 .st-btn[data-network='twitter']{
    background-color: #292c33;
}
#st-2 .st-btn[data-network='pinterest']{
    background-color: #a8894c;
}
#st-2 .st-btn[data-network='email']{
    background-color: #292c33;
}
#st-2 .st-btn[data-network='linkedin']{
    background-color: #a8894c;
}
#st-2 .st-btn[data-network='sharethis']{
    background-color: #292c33;
}
#st-2 .st-btn[data-network='sms']{
    background-color: #a8894c;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  div.gallery {
    margin: 5px;
    /* border: 1px solid #ccc; */
    float: left;
    width: 370px;
  }

  div.gallery:hover {
    /* border: 1px solid #777; */
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

	.flip-container, .front, .back{
		width:370px;
        height: 258px;

}

	/* entire container, keeps perspective */
.flip-container {
	/* perspective: 1000px; */
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* .flip-container, .front, .back {
	width: 300px;
	height:230px;
} */
.back{
    background-color: #292c33;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#a8894c;
    font-size: 15px;
    padding: 10px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.flipper img{
    border-radius: 5px;
    /* padding-left:5px;
    padding-right:5px; */
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
    left: 0;
    border-radius: 5px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@media (min-width: 1600px){
    .main_nav ul li{
        padding-left: 34px;
    }

}
@media (min-width: 1360px) and (max-width: 1600px){
    .main_nav ul li{
        padding-left: 10px;
    }

}
@media (min-width: 1000px) and (max-width: 1360px){
    .main_nav ul li{
        padding-left: 10px;
        padding-right:20px;
    }

}
@media (min-width: 800px) and (max-width: 1000px){
    .main_nav ul li{
        padding-left: 10px;
        padding-right:20px;
    }

}
