@charset "utf-8";@media only screen and (max-width:1600px){}
@media only screen and (max-width:1440px){.header_review{display:none;}
.home_slider_dots{left:80px;}
.header_inner{padding-left:208px;}
}
@media only screen and (max-width:1380px){}
@media only screen and (max-width:1280px){.header_inner{padding-left:268px;}
.main_nav ul li{
    /* padding-left:25px;padding-right:25px; */
}
}
@media only screen and (max-width:1199px){.header_button{display:none;}
.header_inner{padding-left:220px;}
.intro_2{right:58px;}
.footer_menu ul li:not(:last-child){margin-right:25px;}
}
@media only screen and (max-width:1100px){}
@media only screen and (max-width:1024px){}
@media only screen and (max-width:991px){.main_nav{display:none;}
.hamburger{display:block;}
.home_slider_dots{left:30px;}
.search_bar_container{height:auto;width:100%;left:auto;}
.search_bar_form > div:not(:last-child){padding-right:0px;padding-bottom:17px;}
.search_bar_form > div:first-child,
.search_bar_form > div:nth-child(2),
.search_bar_form > div:nth-child(3){width:100%;}
.intro_col:not(:last-child){margin-bottom:80px;}
.video_col:not(:last-child){margin-bottom:60px;}
.newsletter_form_container{margin-top:70px;}
.footer_col:not(:last-child){margin-bottom:60px;}
}
@media only screen and (max-width:959px){}
@media only screen and (max-width:880px){}
@media only screen and (max-width:768px){.intro_2{right:58px;}
}
@media only screen and (max-width:767px){.home_title{font-size:56px;}
.intro_images{height:528px;}
.intro_img{width:60%;}
.home_subtitle{font-size:12px;}
.home_title{font-size:36px;}
}
@media only screen and (max-width:575px){p{font-size:13px;}
h2{font-size:36px;}
.button{width:160px;height:44px;}
.button span{font-size:12px;line-height:44px;}
.button span::after{bottom:0px;}
.home{height:250px;}
.home_content{bottom:58px;}
.search_bar_container{margin-top:60px;}
.search_form_select{height:45px;font-size:12px;}
.search_bar_button{width:196px;height:45px;font-size:14px;}
.header_inner{height:80px;}
.header.scrolled .header_inner{height:80px;}
.logo_container{width:165px;}
.logo_subtitle{font-size:8px;}
.logo_title{font-size:20px;margin-top:5px;}
.logo_stars{margin-top:8px;}
.menu_nav_list li a{font-size:30px;}
.intro_images{height:calc(100vw - 70px);}
.intro_img{width:60%;}
.intro_link a{font-size:14px;}
}
@media only screen and (max-width:539px){}
@media only screen and (max-width:480px){}
@media only screen and (max-width:479px){}
@media only screen and (max-width:400px){}
