@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{

}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.header_review
	{
		display: none;
	}
	.home_slider_dots
	{
		left: 80px;
	}
	.header_inner
	{
		padding-left: 208px;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.header_inner
	{
		padding-left: 268px;
	}
	/* .main_nav ul li
	{
		padding-left: 25px;
		padding-right: 25px;
	} */
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_button
	{
		display: none;
	}
	.header_inner
	{
		padding-left: 220px;
	}
	.intro_2
	{
		right: 58px;
	}
	.footer_menu ul li:not(:last-child)
	{
		margin-right: 25px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{

}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{

}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.home_slider_dots
	{
		left: 30px;
	}
	.search_bar_container
	{
		height: auto;
		width: 100%;
		left: auto;
	}
	.search_bar_form > div:not(:last-child)
	{
		padding-right: 0px;
		padding-bottom: 17px;
	}
	.search_bar_form > div:first-child,
	.search_bar_form > div:nth-child(2),
	.search_bar_form > div:nth-child(3)
	{
		width: 100%;
	}
	.intro_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.video_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.newsletter_form_container
	{
		margin-top: 70px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.intro_2
	{
		right: 58px;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_title
	{
		font-size: 56px;
	}
	.home_subtitle
	{
		font-size: 12px;
	}
	.home_title
	{
		font-size: 36px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	h2
	{
		font-size: 36px;
	}
	.button
	{
		width: 160px;
		height: 44px;
	}
	.button span
	{
		font-size: 12px;
		line-height: 44px;
	}
	.button span::after
	{
		bottom: 0px;
	}
	.home
	{
		height: 250px;
	}
	.home_content
	{
		bottom: 58px;
	}
	.search_bar_container
	{
		margin-top: 60px;
	}
	.search_form_select
	{
		height: 45px;
		font-size: 12px;
	}
	.search_bar_button
	{
		width: 196px;
		height: 45px;
		font-size: 14px;
	}
	.header_inner
	{
		height: 80px;
	}
	.header.scrolled .header_inner
	{
		height: 80px;
	}
	.logo_container
	{
		width: 165px;
	}
	.logo_subtitle
	{
		font-size: 8px;
	}
	.logo_title
	{
		font-size: 20px;
		margin-top: 5px;
	}
	.logo_stars
	{
		margin-top: 8px;
	}
	.menu_nav_list li a
	{
		font-size: 36px;
	}
	.intro_images
	{
		height: calc(100vw - 70px);
	}
	.intro_img
	{
		width: 60%;
	}
	.intro_link a
	{
		font-size: 14px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{

}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{

}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{

}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}
